@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    border: 0 none;
    outline: 0 none;
}

html, body{
    width: 100%;
    height: 100%;
    position: relative;
    perspective: 800px;
    /*background: url(../img/papier-peint.jpg);*/
}

#main-header{
    background: lavender;
    position: fixed;
    height: 62px;
    width: 100%;
}

#main-nav{
    width: 100%;
    max-width: 960px;
    margin: auto;
}

#main-nav ul{
    list-style-type: none;
    line-height: 60px;
    display: flex;
    justify-content: space-around;
}

#main-nav ul li{
    display: inline-block;
}

#main-nav ul li a{
    text-decoration: none;
    color: #03051E;
    font-size: 18px;
    font-family: 'Gloria Hallelujah', cursive;
}

#main-nav ul li:hover{
    background: #C3BEF0;
    transition: all 0.5s ease-in;
    box-sizing: border-box;
}
#reseauxSociaux{
	margin-left: 360px;
	float: left;
}
#reseauxSociaux i{
	font-size: 30px;
	display: block;
	text-align: right;
    color: #646ECB;
    width: 82%;
    position: relative;
    left: 1497px;
}
#reseauxSociaux a{
    text-decoration: none;
}

#info{
    width: 100%;
    height: 60px;
    font-size: 14px;
    padding-top: 125px;
    color: #03051E;
}
#info a{
    text-decoration: none;
    color: #03051E;
}
#info p{
    text-align: center;
    color: #03051E;
}
strong{
    font-family: 'Gloria Hallelujah', sans-serif;
}
.page{
    width: 100%;
    height: 100%;
    color: white;
    padding: 60px 30px;
    box-sizing: border-box;
    font-size: 30px;
}
h2{
    font-family: 'Gloria Hallelujah', sans-serif;
}
#presentation{
    background: url(../img/papier-peint.jpg)no-repeat;
    background-size: cover;
}

#competences{
    background: #555273;
}
.carre{
    margin-top: 61px;
    border: 2px solid white;
    border-radius: 5px;
    padding: 20px;
    width: 22%;
    height: 139px;
    font-size: 16px;
    color: black;
}

#experiences{
    background: #393E46;
}

#formation{
    background: #070739;
}

#contact{
    background: #CADEFC;
}
form{
	width: 60%;
	background : #F9F9F9;
	margin: 96px auto;
	padding: 20px;
	color: #383746;
	border-radius: 15px;
	border: 2px solid black;
    font-size: 23px;
}
label{
	margin: 10px 0;
	width: 50%;
	display: inline-block;
}
textarea{
	resize: none;
}
.bouton{
    background: lavender;
    border: 1px solid white;
    position: relative;
    bottom: 5px;
}
#prenom{
    border: 1px solid black;
    height: 30px;
}
#mdp{
    border: 1px solid black;
    height: 30px;
}
#email{
    border: 1px solid black;
    height: 30px;
}
#cp{
    border: 1px solid black;
    height: 30px;
}
#message{
    border: 1px solid black;
}
.coucou
{
    width: 500px;
    height: 300px;
    position: absolute;
    top: 200px;
    left: 687px;
    opacity: 0.5;
    border: 2px solid #444;
    text-align: center;
    font-size: 1.3em;
    font-family: arial, sans-serif;
    transition: 2s;
    backface-visibility: hidden; /* Permet d'éviter de voir le bloc de dos */
}

#devant
{
    z-index: 100;
    background-image: linear-gradient(white, rgba(117, 0, 128, 0.19));
}

#derriere
{
    z-index: 50;
    background-image: linear-gradient(white, red);
    transform: rotateY(-180deg); /* Celui-ci est retourné par défaut */
}

#devant:hover
{
    transform: rotateY(360deg); /* On passe de 0 à 360° : tour complet */
}

/*
Astuce :
Lorsqu'on survole le bloc devant, on applique une rotation au bloc derriere
*/
#devant:hover + #derriere
{
    transform: rotateY(180deg);  /* On passe de -180° à 180° : tour complet */
}
