body{
    margin: 200px;
    border: 2px solid black;
    background: url(../img/mochaGrunge.png);
    border-radius: 60px;
}
.imageFond{
    background: url(../img/papier_peint.jpg)no-repeat fixed;
    background-size: cover;
    border-radius: 60px;
}
header{
    background: linear-gradient(to left, #DBDBEB, #6A759B);
    height: 160px;
    border-radius: 60px;
}
h1{
    text-align: center;
    font-family: 'Pacifico', cursive;
    margin-left: 200px;
    color: #393E46;
    animation-duration: 2s;
    animation-name: bounceIn;
}
h2{
    font-family: 'Pacifico', cursive;
    font-size: 37px;
}
main{
	height: 1597px;
    margin: 10px;
}
section{
	height: 790px;
    width: 50%;
	margin: 358px;
    text-align: center;
	padding: 0;
    margin-top: 150px;
    margin-left: 50px;
}
#info{
    padding-top: 10px;
    margin-top: 113px;
    width: 100%;
    height: 90px;
    background: linear-gradient(to left, #DBDBEB, #6A759B);
    border-radius: 80px;
}
#info a{
    text-decoration: none;
    margin-left: 42%;
    color: #14103B;
    text-align: center;
}
#logo{
    padding: 10px;
    float: left;
}
img{
    width: 226px;
    height: 136px;
    margin-left: 24px;
}
#slogan{
	width: 50%;
	float: left;
	height: 100px;
}
#reseauxSociaux i{
	color: #7577CD;
	font-size: 30px;
	display: block;
	text-align: right;
	padding: 36px 30px 0 0;
}
#reseauxSociaux a{
    text-decoration: none;
}
nav{
    float: right;
    margin-right: 100px;
    margin-top: 30px;
    font-size: 22px;
    height: 2px;
}
nav a{
    text-decoration: none;
    border-radius: 62px;
    background: #EAE7ED;
    color: #2A3356;
    padding: 7px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.2);
    margin: 7px;
    text-decoration: none;
    transition: 1s;
    border: 1px solid white;
    font-family: 'Courgette', cursive;

}
nav a:hover{
    box-shadow: none;
    cursor: pointer;
}
#c1{
  float: left;
  width: 120%;
  height:50%;
  border-radius: 100px;
  background: rgba(255,255,255,0.5);
  position:relative;
  transition: opacity .5s ease-out;
  -moz-transition: opacity .5s ease-out;
  -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;
  margin-left: 1%;
}
#c2{
  float: right;
  width: 120%;
  height:50%;
  border-radius: 100px;
  background: rgba(255,255,255,0.5);
  position:relative;
  transition: opacity .5s ease-out;
  -moz-transition: opacity .5s ease-out;
  -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;
  margin-right: -86%;
  margin-top: 28px;
}
#c3{
  float: left;
  width: 120%;
  height:50%;
  border-radius: 100px;
  background: rgba(255,255,255,0.5);
  position:relative;
  transition: opacity .5s ease-out;
  -moz-transition: opacity .5s ease-out;
  -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;
  margin-top: 28px;
}
#c4{
float: right;
width: 120%;
height: 50%;
border-radius: 100px;
background:  rgba(255,255,255,0.5);
position:relative;
transition: opacity .5s ease-out;
-moz-transition: opacity .5s ease-out;
-webkit-transition: opacity .5s ease-out;
-o-transition: opacity .5s ease-out;
margin-right: -86%;
margin-top: 28px;
}
#c1:hover{
    transition: 1s;
    background: rgba(91, 88, 94, 0.07);
}
#c2:hover{
    transition: 1s;
    background: rgba(91, 88, 94, 0.07);
}
#c3:hover{
    transition: 1s;
    background: rgba(91, 88, 94, 0.07);
}
#c4:hover{
    transition: 1s;
    background: rgba(91, 88, 94, 0.07);
}
#contenu{
    margin: 0;
}
li{
    list-style-type: none;
    font-family: 'Courgette', cursive;
    font-size: 20px;
}
p{
    font-family: 'Courgette', cursive;
    font-size: 20px;
}
@keyframes bounceIn {
    0%{
        transform: scale(0.1);
    }
    60%{
        transform: scale(1.2);
        opacity: 1;
    }
    100%{
        transform: scale(1);
    }
}
.clear{
    clear: both;
}
